@page "/"

    <h2 class="pb-2">dMax Live</h2>

    <p class="pb-2">
        Program hakkında açıklama.....
    </p>

    <div class="pb-2">
        <img class="fit-width" src="images/banner.jpg" />
    </div>

    <h2 class="mb-4 mt-4">Faydalı Kaynaklar</h2>

    <ul>
        <li><a class="helplink" href="https://demos.devexpress.com/blazor/" target="_blank">Online Demos</a></li>
        <li><a class="helplink" href="https://github.com/DevExpress/Blazor/blob/master/examples.md" target="_blank">Examples</a></li>
        <li><a class="helplink" href="https://docs.devexpress.com/Blazor/400725/blazor-components" target="_blank">Documentation</a></li>
        <li><a class="helplink" href="https://www.devexpress.com/support/training/blazor/" target="_blank">Free Blazor Training Course</a></li>
        <li><a class="helplink" href="https://www.youtube.com/watch?v=9kp3N3wQPO0&list=RD86BmSaXZMHw&index=27" target="_blank">Program Kullanımı (Video)</a></li>
    </ul>
